<div class="add-btn">
    <p-button (onClick)="addProvider()" label="Add provider +"></p-button>
</div>

<ng-container *ngIf="providers$ | async as data">

    <p-table [value]="data.items ?? []"
             [paginator]="true"
             [rows]="rows"
             [lazy]="true"
             [totalRecords]="data.totalCount ?? 0"
             [loading]="loading"
             (onLazyLoad)="onPage($event)">
        <ng-template pTemplate="header">
            <tr>
                <th>First Name </th>
                <th>Last Name </th>
                <th>Email </th>
                <th>Actions </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-provider>
            <tr>
                <td>{{ provider.firstName }}</td>
                <td>{{ provider.lastName }}</td>
                <td>{{ provider.email }}</td>
                <td>
                    <p-button (onClick)="onRowClick(provider)" label="Edit"></p-button>
                    <p-button class="delete-btn" severity="danger" (onClick)="deleteProvider(provider)" label="Delete"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</ng-container>

<p-toast />