
<ng-container *ngIf="providerServices$ | async as data">

    <p-table [value]="data.items ?? []"
             [paginator]="true"
             [rows]="rows"
             [lazy]="true"
             [totalRecords]="data.totalCount ?? 0"
             (onLazyLoad)="onPage($event)">


        <ng-template pTemplate="header">
            <tr>
                <th>Name </th>
                <th>Duration minutes </th>
                <th>Price per session </th>
                <th>Price per hour </th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-providerService>
            <tr>
                <td>{{ providerService.name }}</td>
                <td>{{ providerService.durationMinutes }} (minutes)</td>
                <td>{{ providerService.pricePerSession | currency }} $</td>
                <td>{{ providerService.pricePerHour | currency }} $</td>
                <td>
                    <p-button class="delete-btn" severity="danger" (onClick)="deleteProviderService(providerService)" label="Delete"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</ng-container>

<div class="add-btn">
    <p-button (onClick)="addProviderService()" label="Add provider service +"></p-button>
</div>

<p-dialog header="PrimeNG Modal" [(visible)]="showModal"
          [closable]="true" [modal]="true">
    <dsv-provider-service-modal [providerId]="providerId" (providerAdded)="handleProviderAdded($event)"></dsv-provider-service-modal>
</p-dialog>